.cnt {
    padding-top: 10px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    margin: 25px;
}

.formContainer {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 25px;
}

.formContainer input {
    padding: 0px 5px;
    height: 35px;
    width: 300px;
    border: 0px;
    border-radius: 3px;
    font-size: 18px;
    background-color: rgb(255, 255, 255, 0.5);
}

.formContainer button {
    font-size: 20px;
    padding: 0px;
    margin-left: 10px;
    height: 35px;
    width: 40px;
    border: 0px;
    border-radius: 3px;
    background-color: #52BBE8;
    color: #fff;
}

.formContainer button:hover {
    background-color: #64b9de;
    box-shadow: 0 5px 20px rgba(100, 185, 222, 0.2);
    cursor: pointer;
}

.label {
    padding-right: 10px;
}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 40px 0px;
    gap: 30px 0px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.movie:hover {
    transform: translateY(-15px);
    transition: 0.1s;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.img {
    width: 100%;
    box-shadow: 0 5px 20px rgba(186, 186, 186, 0.2);
}

.img:hover {
    box-shadow: 0 15px 20px rgba(186, 186, 186, 0.2);
}

.btn {
    position: absolute;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 25px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 35px;
    color: #ffbb00;
}

.btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 26px;
        font-weight: 400;
        margin: 25px 25px 0px 25px;
    }

    .formContainer {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 25px 25px 0px 25px;
        gap: 10px;
    }
    
    .formContainer input {
        padding: 0px;
        margin: 0px;
        height: 35px;
        width: 100%;
        border: 0px;
        border-radius: 3px;
        font-size: 18px;
        background-color: rgb(255, 255, 255, 0.5);
    }

    .formContainer button {
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        height: 35px;
        width: 40px;
        border: 0px;
        border-radius: 3px;
        background-color: #52BBE8;
        color: #fff;
    }

    .moviesGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 25px 5px;
        gap: 30px 2px;
    }

    .movie:hover {
        transform: none;
    }

    .img:hover {
        box-shadow: 0 5px 20px rgba(186, 186, 186, 0.2);
    }

    .btn {
        position: absolute;
        align-self: flex-end;
        padding-top: 10px;
        padding-right: 12px;
        margin: 0px;
        border: 0px;
        background-color: transparent;
        font-size: 35px;
        color: #ffbb00;
    }
}